h1 {
    text-align: center;
    font-size: 50px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mainImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

p {
    font-size: 20px;
}

hr {
    width: 500px;
    margin-left: 65%;
    height: 2px;
    color: black;
    background-color: black;
    margin-top: 50px;
}

a {
    color: black;
}

h2 {
    font-size: 30px;
}

footer {
    background-color: black;
    color: white;
    padding: 30px;
}

.mainContent {
    margin-left: 200px;
    margin-right: 200px;
}

.officialSite {
    color: white;
    text-decoration: none;
}

image {
    height: 50px;
}

header {
    text-align: right;
    padding: 30px;
}

a {
    margin: 5px;
    text-decoration: none;
    font-weight: bold;
}

.blogHref {
    margin: 0;
    text-decoration: none;
}